<h2 class="subtitle">Contact Us</h2>
<section layout="row" class="section-contact">
  <div flex="50" class="contact-image-container">
    <img class="denver-image" src="../assets/img/Denver.jpg" alt="Denver"/>
  </div>
  <div flex="50" class="contact-container">
    <div class="contact-detail">
      <p class="contact-detail-mail">
        <img class="contact-detail-icon" src="../assets/img/mailbox2.png" />
        C Factory Systems, Inc
      </p>
      <p class="contact-detail-mail">
        PO Box 200787
      </p>
      <p class="contact-detail-mail">
        Denver, CO 80230
      </p>
    </div>
    <div class="contact-detail">
      <i class="fa fa-envelope fa-2x contact-detail-icon" aria-hidden="true"></i>
      <p class="contact-detail-text">
        info@cfactorysystems.com
      </p>
    </div>
    <div class="contact-detail">
      <i class="fa fa-phone fa-2x contact-detail-icon" aria-hidden="true"></i>
      <p class="contact-detail-text">
        (303) 406-1210
      </p>
    </div>
  </div>
</section>
