.home-title-section {
  height: 95vh; }

.title-container {
  background-image: url("../img/cfs-text-black-vertical.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30vh;
  width: 75vw;
  margin: 20vh auto 0 auto; }

/* MEDIA QUERIES */
/* SMALL */
@media (max-width: 600px) {
  .title-container {
    width: 90vw; } }
/* SMALL */
@media (max-width: 500px) {
  #home-subtitle {
    font-size: 30px;
    width: 90vw; } }
/* X-SMALL */
@media (max-width: 350px) {
  .title-container {
    width: 98vw;
    height: 10em;
    margin-top: 15vh; }

  #home-subtitle {
    font-size: 25px;
    width: 95vw; } }
.section-about {
  position: relative;
  margin-top: 3em;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: white; }

.card .about-content {
  padding: 5px; }

.card-text {
  margin-bottom: 10px !important; }

.member-title {
  font-size: 20px !important; }

.section-product-description {
  background: white;
  position: relative; }

.product-image-container {
  margin-top: 2em;
  overflow-x: hidden; }
  .product-image-container img {
    float: right; }

.product-container {
  padding-right: 2em;
  margin-top: 2em; }

.product-text {
  font-size: 23px;
  margin: 0 auto 1em auto;
  text-align: justify;
  color: #2A2B2B; }

.logo-container img {
  float: right; }

.section-partners {
  background-color: #4A4B4C;
  padding-bottom: 10vh;
  position: relative; }

.partners-container {
  padding-top: 5vh; }

.search-container {
  background-color: #4A4B4C;
  padding-left: 2em; }
  .search-container p {
    text-align: justify; }

.partner-text {
  font-size: 25px;
  margin: 0 auto 1em auto;
  text-align: center;
  color: white; }

#partners-search-input {
  padding-left: 2em;
  border: none;
  border-radius: 2px 0 0 2px;
  height: 35px;
  display: inline-block;
  background-color: white; }

.search-button {
  height: 35px;
  border-radius: 0 2px 2px 0;
  background-color: #F3F7FA;
  color: #2A2B2B; }

.fa-search {
  color: #12AD8D; }

.section-magic {
  padding-left: 8vw;
  padding-right: 8vw; }

.category-photo {
  width: 400px;
  height: auto; }

.category-photo {
  max-height: 150px; }

.card .category-content {
  padding: 5px; }

.category-title {
  text-align: center;
  font-size: 20px !important;
  margin: 5px auto 5px auto; }

.section-contact {
  padding: 0;
  position: relative; }

.contact-png {
  width: 100%; }

.contact-image-container {
  height: 100%;
  overflow-x: hidden; }

.contact-alignment {
  height: 270px; }

.denver-image {
  height: 100%;
  object-fit: cover; }

.contact-container {
  background-color: #4A4B4C;
  padding: 2em;
  box-sizing: content-box; }

.contact-detail-icon {
  display: inline-block;
  color: #12AD8D;
  height: 30px; }

.contact-detail-mail {
  font-size: 25px;
  color: white; }

#contact-detail-mail-top {
  display: inline-block;
  margin-left: 15px; }

.contact-detail-mail:not(:first-child) {
  margin-left: 50px; }

.contact-detail-text {
  margin: 0.5em 0 0 15px;
  display: inline-block;
  font-size: 25px;
  color: white; }

.questions-container {
  margin-top: 8vh;
  background-color: rgba(255, 255, 255, 0.7);
  color: #2A2B2B;
  padding: 1em 3em 1em 3em; }

.question-div {
  margin-bottom: 3em; }

.faq-answer {
  font-size: 18px; }

/* every page high level */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  color: black; }

html {
  background: url("../img/sky-transparent.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background: none; }

main {
  min-height: 95vh;
  background: none; }

section {
  padding: 5vh 12.5vw 3vh 12.5vw; }

.subtitle {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .subtitle img {
    max-width: 100%; }

.page-subtitle {
  text-align: center;
  padding-top: 5vh; }

/* generic color styling */
.cfs-teal {
  background-color: #12AD8D; }

/* header and nav styling */
header {
  width: 100%;
  height: 8vh;
  z-index: 10; }

.cfs-header-logo {
  background-image: url("../img/cfs-logo-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 61px;
  width: 90px;
  margin-top: 5px;
  margin-left: 5px; }

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 10vh;
  background-color: #12AD8D; }

.nav-li {
  height: 100%; }
  .nav-li a {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center; }

/*  logo */
.corner-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 52px;
  width: 65px; }

/* footer styling */
#cfs-footer {
  background-color: #12AD8D; }

.cfs-footer-child {
  padding: 0 12.5vw 1em 12.5vw;
  margin-left: 0;
  margin-right: 0; }

.footer-company-name {
  margin-bottom: 1.5em; }

/* MEDIA QUERIES */
/* MEDIUM */
@media (max-width: 960px) {
  section {
    padding: 5vh 8vw 3vh 8vw; }

  .subtitle {
    width: 80vw; } }
@media (max-width: 840px) {
  section {
    padding: 5vh 5vw 3vh 5vw; } }
/* SMALL */
@media (max-width: 600px) {
  section {
    padding: 5vh 2% 3vh 2%; }

  .header-nav-list {
    display: none; } }
/* X-SMALL */

/*# sourceMappingURL=input.css.map */
