.section-about {
  margin-top: 3em;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: white;
}

.card .about-content {
  padding: 5px;
}

.card-text {
  margin-bottom: 10px !important;
}

.member-title {
  font-size: 20px !important;
}
