.section-about {
  position: relative;
  margin-top: 3em;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: white;
}

.team-row {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  padding-left: 35px;
  padding-right: 35px;
}

.card .about-content {
  padding: 5px;
}

.card-text {
  margin-bottom: 10px !important;
}

.member-title {
  font-size: 20px !important;
}

@media (max-width: 960px) {
  .card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 600px) {
  .section-about {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .card-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 600px) {
  .section-about {
    padding-left: 2px;
    padding-right: 2px;
  }
  .card-container {
    padding-left: 2px;
    padding-right: 2px;
  }
}
