.questions-container {
  margin-top: 8vh;
  background-color: rgba(255,255,255,0.7);
  color: $dark-grey;
  padding: 1em 3em 1em 3em;
}

.question-div {
  margin-bottom: 3em;
}

.faq-answer {
  font-size: 18px;
}
