.home-title-section {
  height: 95vh;
}

.title-container {
  background-image: url('../img/cfs-text-black-vertical.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30vh;
  width: 75vw;
  margin: 20vh auto 0 auto;
}
