.section-product-description {
  background: white;
}

.product-image-container {
  margin-top: 2em;
  overflow-x: hidden;

  img {
    float: right;
  }
}

.product-container {
  padding-right: 2em;
  margin-top: 2em;
}

.product-text {
  font-size: 23px;
  margin: 0 auto 1em auto;
  text-align: justify;
  color: black;
}
