<h2 class="subtitle"><img class="title-png" src="../assets/img/about-text-grey.png" alt="About"/></h2>
<div class="row team-row">
  <div ng-repeat="member in vm.team track by $index" class="col s12 m6 l4">
    <div class="card-container">
        <div class="card">
          <div class="card-image">
            <img src="{{member.photo}}">
          </div>
          <div class="card-content about-content">
            <h4 class="card-title">{{member.name}}</h4>
            <h6 class="card-title member-title">{{member.title}}</h6>
            <p class="card-text" ng-repeat="accomplishment in member.accomplishments">{{accomplishment}}</p>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- <div class="row team-row">
  <div ng-repeat="member in vm.team track by $index" class="col s12 m4 l4">
    <div class="card-container" ng-if="$index > 1">
        <div class="card">
          <div class="card-image">
            <img src="{{member.photo}}">
          </div>
          <div class="card-content about-content">
            <h4 class="card-title">{{member.name}}</h4>
            <h6 class="card-title member-title">{{member.title}}</h6>
            <p class="card-text" ng-repeat="accomplishment in member.accomplishments">{{accomplishment}}</p>
          </div>
        </div>
    </div>
  </div>
</div> -->
