<h2 class="subtitle"><img class="title-png" src="../assets/img/about-text-grey.png" alt="About"/></h2>
<div class="row team-row">
  <div ng-repeat="member in vm.team track by $index" class="col s12 m6 l4">
    <div class="card-container">
        <div class="card">
          <div class="card-image">
            <img src="{{member.photo}}">
          </div>
          <div class="card-content about-content">
            <h4 class="card-title member-name">{{member.name}}</h4>
            <h6 class="card-title member-title">{{member.title}}</h6>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="team-description-container">
  <p class="team-description">
    C Factory Systems was founded by Rick Bernheim, Frieda Sands and Ray Gottesfeld, M.D.  With over 100 years of combined experience, 6 patents, and 10 in-process patents, the founders integrate competencies in business and startups, sales, marketing, intellectual property, engineering, high-tech product development, outsourcing, volume offshore production, medicine and large division P/L responsibility spanning 20+ companies.  The founders are joined by team members in the areas of electronics, mechanical engineering, industrial design and software.
  </p>
</div>
