<div layout-gt-xs="row" layout="column">
  <div flex-gt-sm="55" flex-gt-xs="35" flex flex-order-gt-xs="1" flex-order="2" class="contact-image-container">
    <img class="denver-image" src="../assets/img/Denver1.jpg" alt="Denver"/>
  </div>
  <div flex-gt-sm="45" flex-gt-xs="65" flex flex-order-gt-xs="2" flex-order="1" class="contact-container">
    <h2 class="contact-subtitle"><img class="title-png contact-png" src="../assets/img/contact-text-white.png" alt="Contact Us"/></h2>
    <div class="valign-wrapper contact-alignment">
      <div class="valign">
        <div class="contact-detail">
          <img class="contact-detail-icon" src="../assets/img/mailbox3.png" />
          <p class="contact-detail-mail" id="contact-detail-mail-top">
            C Factory Systems, Inc
          </p>
          <p class="contact-detail-mail">
            PO Box 200787
          </p>
          <p class="contact-detail-mail">
            Denver, CO 80230
          </p>
        </div>
        <div class="contact-detail">
          <i class="fa fa-envelope fa-2x contact-detail-icon" aria-hidden="true"></i>
          <p class="contact-detail-text">
            info@cfactorysystems.com
          </p>
        </div>
        <div class="contact-detail">
          <i class="fa fa-phone fa-2x contact-detail-icon" aria-hidden="true"></i>
          <p class="contact-detail-text">
            (303) 406-1210
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<img class="corner-logo" src="../assets/img/cfs-logo-color.png" alt="logo" />
