<!-- TITLE -->
<section class="home-title-section">
  <a class="anchor" name="home"></a>
  <div class="title-container">
  </div>
  <h3 class="subtitle">The world leader in active two-way Humidity Control Technology</h3>
</section>

<!-- PRODUCTS -->
<section class="section-product-description">
  <a class="anchor" name="products"></a>
  <h2 class="subtitle"><img class="title-png" src="../assets/img/products-text.png" alt="Products"/></h2>
  <div layout="row">
    <div flex="60" class="product-container">
      <p class="product-text">
        The Biosafe moves water vapor between the ambient air and the storage chamber as required for a specific humidity, automatically, and with no user action or maintenance required.
      </p>
      <p class="product-text">
        C Factory Systems' patent-pending two-way humidity and temperature control technology is the only set-and-forget solution to assuring proper storage of biologicals. Our active solution constantly monitors the internal ambient humidity, adding or removing moisture as required, resulting in the precise environmental humidity for whatver you are storing.
      </p>
      <p class="product-text">
        Automatic temperature control is also available.
      </p>
    </div>
    <div flex="40" class="product-image-container">
      <img src="http://placehold.it/400x500?text=product+image" alt="placeholder"/>
    </div>
  </div>
</section>

<!-- PARTNERS -->
<section role="search" class="section-partners">
  <a class="anchor" name="partners"></a>
  <h2 class="subtitle"><img class="title-png" src="../assets/img/partners-text-white.png" alt="Partner Stores"/></h2>
  <div class="partners-container" layout="row">
    <div class="logo-container" flex="auto">
      <img class="logo-placeholder" src="http://placehold.it/425x250?text=logo+placeholder" alt="logo placeholder">
    </div>
    <div flex="60" class="search-container">
      <p class="partner-text">
        You can see our products in action at one of our partner stores. Click on the logo or enter your zip code for the closest partner store near you.
      </p>
      <form class="partners-search" layout="row" action="#" method="get">
        <label for="search" flex="90">
          <input type="search" name="s" id="partners-search-input" placeholder="Zipcode" maxlength="200" />
        </label>
        <button type="submit" title="Search submit" class="search-button" flex="auto">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
  <img class="corner-logo" src="../assets/img/cfs-logo-color.png" alt="logo" />
</section>

<!-- THE MAGIC -->
<section class="section-magic">
  <a class="anchor" name="magic"></a>
  <h2 class="subtitle"><img class="title-png" src="../assets/img/magic-text.png" alt="The Magic"/></h2>
  <div class="row">
    <div ng-repeat="category in vm.categories" | orderBy:'category.type' class="col s12 m4 l3">
      <div class="card category-card">
        <div class="card-image">
          <img class="category-photo" ng-src="{{category.photo}}" alt="{{category.type}}"/>
        </div>
        <div class="card-content category-content">
          <h4 class="card-title category-title">{{category.type}}</h4>
        </div>
      </div>
    </div>
</section>

<!-- ABOUT -->
<section class="section-about">
  <a class="anchor" name="about"></a>
  <h2 class="subtitle"><img class="title-png" src="../assets/img/about-text-grey.png" alt="About"/></h2>
  <div class="row">
    <div ng-repeat="member in vm.team track by $index" class="col s12 m6 l4">
      <div >
          <div class="card">
            <div class="card-image">
              <img src="{{member.photo}}">
            </div>
            <div class="card-content about-content">
              <h4 class="card-title">{{member.name}}</h4>
              <h6 class="card-title member-title">{{member.title}}</h6>
              <p class="card-text" ng-repeat="accomplishment in member.accomplishments">{{accomplishment}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT -->
<section class="section-contact">
  <a class="anchor" name="contact"></a>
  <div layout="row">
    <div flex="55" class="con tact-image-container">
      <img class="denver-image" src="../assets/img/Denver1.jpg" alt="Denver"/>
    </div>
    <div flex="45" class="contact-container">
      <h2 class="contact-subtitle"><img class="title-png contact-png" src="../assets/img/contact-text-white.png" alt="Contact Us"/></h2>
      <div class="valign-wrapper contact-alignment">
        <div class="valign">
          <div class="contact-detail">
            <img class="contact-detail-icon" src="../assets/img/mailbox3.png" />
            <p class="contact-detail-mail" id="contact-detail-mail-top">
              C Factory Systems, Inc
            </p>
            <p class="contact-detail-mail">
              PO Box 200787
            </p>
            <p class="contact-detail-mail">
              Denver, CO 80230
            </p>
          </div>
          <div class="contact-detail">
            <i class="fa fa-envelope fa-2x contact-detail-icon" aria-hidden="true"></i>
            <p class="contact-detail-text">
              info@cfactorysystems.com
            </p>
          </div>
          <div class="contact-detail">
            <i class="fa fa-phone fa-2x contact-detail-icon" aria-hidden="true"></i>
            <p class="contact-detail-text">
              (303) 406-1210
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="corner-logo" src="../assets/img/cfs-logo-color.png" alt="logo" />
</section>
