<h2 class="subtitle"><img class="title-png" src="../assets/img/magic-text-grey.png" alt="The Magic"/></h2>
<div class="row">
  <div class="col s12 m4 l3" ng-repeat="category in vm.categories | orderBy:id">
    <div class="card category-card">
      <div class="card-image">
        <img class="category-photo" ng-click="toggleSelected(category)" ng-src="{{category.photo}}" alt="{{category.type}}"/>
      </div>
      <div class="card-content category-content">
        <h4 class="card-title category-title" id="{{category.id}}">{{category.type}}</h4>
      </div>
    </div>
    <div layout="row" ng-show="category.selected" ng-mouseleave="toggleSelected(category)" class="expanded-category">
      <div flex-gt-sm="60" flex="50" class="selected-left">
        <img class="selected-category-photo" ng-src="{{category.photo}}" alt="{{category.type}}"/>
      </div>
      <div flex-gt-sm="40" flex="50" class="selected-right">
        <h4 class="selected-category-title">{{category.type}}</h4>
        <p>
          {{category.description}}
        </p>
      </div>
    </div>
  </div>
</div>
