<h2 class="subtitle"><img class="title-png" src="../assets/img/products-text-grey.png" alt="Products"/></h2>
<div layout-gt-sm="row" layout="column">
  <div flex-gt-sm="60" flex-order-gt-sm="1" flex-order="2" class="product-container">
    <p class="product-text">
      The BioSafe moves water vapor between the environment and the storage chamber to achieve perfect humidity. The process is automatic, without the need for attention, maintenance, or replacement products, and with no user action or maintenance required. Freshness, weight, potency, and value are maintained.
    </p>
    <p class="product-text">
      C Factory Systems’ patent-pending humidity control technology is the only set-and-forget solution to assure proper storage of sensitive valuables such as biologicals and valuable are/instruments/organs/keepsakes. Our active solution constantly monitors the internal humidity, adding or removing moisture as required. We create the perfect humidity for whatever valuables you wish to keep.
    </p>
    <p class="product-text">
      Automatic temperature control is also available.
    </p>
  </div>
  <div flex-gt-sm="40" flex flex-order-gt-sm="2" flex-order="1" class="product-image-container">
    <img class="product-photo" src="../assets/img/product-photo.jpg" alt="product"/>
  </div>
</div>
