<h2 class="subtitle"><img class="title-png" src="../assets/img/products-text.png" alt="Products"/></h2>
<section class="section-product-description">
  <p class="product-text">
    The Biosafe moves water vapor between the ambient air and the storage chamber as required for a specific humidity, automatically, and with no user action or maintenance required.
  </p>
  <p class="product-text">
    C Factory Systems' patent-pending two-day humidity and temperature control technology is the only set-and-forget solution to assuring proper storage of biologicals. Our active solution constantly monitors the internal ambient humidity, adding or removing moisture as required, resulting in the precise environmental humidity for whatver you are storing.
  </p>
  <p class="product-text">
    Automatic temperature control is also available.
  </p>
</section>
